@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* --primary-bg: #B8DB80;      green-500 */
  --secondary: #0b5431;    /* yellow-400 */
  --main: #3b6342;       /* green-700 */
  --dark-bg: 24 24 27;       /* zinc-900 */

.dark {
  --primary: 74 222 128;     /* green-400 */
  --secondary: 250 204 21;   /* yellow-300 */
  --dark-bg: 9 9 11;
}

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* background-color: var(--primary-bg); */
  color: var(--secondary);
  color: var(--main);
  font-family: Arial, Helvetica, sans-serif;
}
